* {
  box-sizing: border-box;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.25rem;
  border: 0.0625rem solid gray;
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.input {
  position: relative;
  margin-bottom: 1.375rem;
}

.buttonSubmit {
  width: fit-content;
  margin: 0 auto;
}
